<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JSms</display-name>
  <welcome-file-list>
    <welcome-file>dashboard.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>com.gk.controller.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/StudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeController</display-name>
    <servlet-name>EmployeeController</servlet-name>
    <servlet-class>com.gk.controller.EmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeController</servlet-name>
    <url-pattern>/EmployeeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseController</display-name>
    <servlet-name>CourseController</servlet-name>
    <servlet-class>com.gk.controller.CourseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseController</servlet-name>
    <url-pattern>/CourseController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GradeController</display-name>
    <servlet-name>GradeController</servlet-name>
    <servlet-class>com.gk.controller.GradeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeController</servlet-name>
    <url-pattern>/GradeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentController</display-name>
    <servlet-name>DepartmentController</servlet-name>
    <servlet-class>com.gk.controller.DepartmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentController</servlet-name>
    <url-pattern>/DepartmentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentCoursesController</display-name>
    <servlet-name>DepartmentCoursesController</servlet-name>
    <servlet-class>com.gk.controller.DepartmentCoursesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentCoursesController</servlet-name>
    <url-pattern>/DepartmentCoursesController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewExamPeriodController</display-name>
    <servlet-name>AddNewExamPeriodController</servlet-name>
    <servlet-class>com.gk.controller.AddNewExamPeriodController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewExamPeriodController</servlet-name>
    <url-pattern>/AddNewExamPeriodController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseExamPeriodsController</display-name>
    <servlet-name>CourseExamPeriodsController</servlet-name>
    <servlet-class>com.gk.controller.CourseExamPeriodsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseExamPeriodsController</servlet-name>
    <url-pattern>/CourseExamPeriodsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetGradeController</display-name>
    <servlet-name>SetGradeController</servlet-name>
    <servlet-class>com.gk.controller.SetGradeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetGradeController</servlet-name>
    <url-pattern>/SetGradeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseEnrollmentController</display-name>
    <servlet-name>CourseEnrollmentController</servlet-name>
    <servlet-class>com.gk.controller.CourseEnrollmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseEnrollmentController</servlet-name>
    <url-pattern>/CourseEnrollmentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersController</display-name>
    <servlet-name>UsersController</servlet-name>
    <servlet-class>com.gk.controller.UsersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersController</servlet-name>
    <url-pattern>/UsersController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RolePeopleController</display-name>
    <servlet-name>RolePeopleController</servlet-name>
    <servlet-class>com.gk.controller.RolePeopleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RolePeopleController</servlet-name>
    <url-pattern>/RolePeopleController</url-pattern>
  </servlet-mapping>
  
  <security-constraint>
    <display-name>General Restriction</display-name>
    <web-resource-collection>
      <web-resource-name>Entire Application</web-resource-name>
      <description>All resources in this application are protected.</description>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>clerk</role-name>
      <role-name>teacher</role-name>
      <role-name>student</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>Administration Area</realm-name>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/loginError.jsp</form-error-page>
    </form-login-config>
  </login-config>
</web-app>